.cardinfo {
  font-size: 18px;
}
.teamname {
  margin-right: 10px;
  background-color: rgb(175, 174, 174);
  color: white;
  padding: 4px 10px;
  font-weight: bold;
}
.date {
  color: rgb(0, 132, 255);
  font-weight: bold;
}
